@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.search {
    @include text(14px, 400);
    padding: 8px 10px 8px 10px;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: border-color 0.3s ease-in-out;
    margin-right: auto;
    &:hover {
        border: 1px solid $app_primary_color;
        border-color: $app_primary_color;
    }
    & > img {
        height: 16px;
        width: 16px;
        fill: white;
    }
    &__tip {
        @include text(13px, 400);
        border: 1px solid $dark_text_secondary_color;
        border-radius: 5px;
        padding: 5px;
    }
    :root[data-theme="light"] & {
        background-color: $light_secondary_bg;
        color: $light_text_secondary_color;
    }
    :root[data-theme="dark"] & {
        background-color: $dark_secondary_bg;
        color: $dark_text_secondary_color;
    }
}
