//Dark Theme
$dark_heading_primary_color: #f1e2e2;

$dark_text_primary_color: #dfdfd7;
$dark_text_secondary_color: #898990;

$dark_primary_bg: #1e1e20;
$dark_secondary_bg: #161618;

//Light Theme
$light_heading_primary_color: #0a0a10;

$light_text_primary_color: #3c3c43;
$light_text_secondary_color: #303035;

$light_primary_bg: #ffff;
$light_secondary_bg: #f6f6f7;

//Casual
$textlink_primary_color: #454cd8;
$textlink_secondary_color: #646cff;

//Sizes
$sidebar-w: 270px;
$side_menu-w: 220px;
$header-h: 64px;
// linear-gradient( -45deg, #bd34fe 50%, #47caff 50% );
