@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.link {
    font-size: 16px;

    &:hover {
        transition: color 0.15s linear;
        color: $app_primary_color !important;
    }

    &__header {
        @include text(15px, 400);
        &:hover {
            color: $app_secondary_color !important;
        }
        :root[data-theme="light"] & {
            color: $light_heading_primary_color;
        }
        :root[data-theme="dark"] & {
            color: $dark_heading_primary_color;
        }
    }
    &__sidebar {
        :root[data-theme="light"] & {
            color: $light_text_secondary_color;
        }
        :root[data-theme="dark"] & {
            color: $dark_text_secondary_color;
        }
    }
    &__content_menu {
        :root[data-theme="light"] & {
            color: $light_text_secondary_color;
        }
        :root[data-theme="dark"] & {
            color: $dark_text_secondary_color;
        }
        :root[data-theme="light"] &:hover {
            color: white;
        }
        :root[data-theme="dark"] &:hover {
            color: black;
        }
    }
}
