@import "./styles/variables.scss";

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"), url("./fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter-Bold";
  src: local("Inter-Bold"), url("./fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto-Thin";
  src: local("Roboto-Thin"), url("./fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto-ThinItalic";
  src: local("Roboto-ThinItalic"), url("./fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"), url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"), url("./fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"), url("./fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

*::-webkit-scrollbar-track {
  background-color: $dark_text_secondary_color;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
}

:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.7;
  font-weight: 500;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root[data-theme="light"] {
  color: $light_text_primary_color;
  background-color: $light_primary_bg;
}

:root[data-theme="dark"] {
  color: $dark_text_primary_color;
  background-color: $dark_primary_bg;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

$circle-color: red;
